.desktop,
.MuiPaper-root,
.footer {
  .fs-22-text {
    font-size: 22px !important;
  }
  .fs-20-text {
    font-size: 20px !important;
  }
  .fs-18-text {
    font-size: 18px !important;
  }
  .fs-16-text {
    font-size: 16px !important;
  }
  .fs-14-text {
    font-size: 14px !important;
  }
  .fs-12-text {
    font-size: 12px !important;
  }
  .fs-11-text {
    font-size: 11px !important;
  }
  .fs-10-text {
    font-size: 10px !important;
  }
  .font-weight-bold {
    font-weight: 700 !important;
  }
}

.mobile,
.MuiPaper-root {
  .fs-22-text {
    font-size: 20px !important;
  }
  .fs-20-text {
    font-size: 18px !important;
  }
  .fs-18-text {
    font-size: 16px !important;
  }
  .fs-16-text {
    font-size: 14px !important;
  }
  .fs-14-text {
    font-size: 14px !important;
  }
  .fs-12-text {
    font-size: 10px !important;
  }
  .fs-11-text {
    font-size: 9px !important;
  }
  .fs-10-text {
    font-size: 8px !important;
  }
  .item-content-title {
    line-height: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  .item-content-description {
    line-height: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  @media only screen and (max-width: 450px) {
    .button-component {
      .fs-14-text {
        font-size: 11px !important;
      }
    }
  }
}

.d-flex {
  display: flex !important;
}

.justify-content-end {
  justify-content: flex-end !important;
}

.justify-content-center {
  justify-content: center !important;
}

.text-decoration-underline {
  text-decoration: underline !important;
}

.text-coloring {
  background-color: $textColoring !important;
}

.background-cancel-reg {
  .button-name {
    background-color: grey !important;
  }
}

.event-tag-content {
  .MuiTypography-root {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
  }
}

.select-list-width {
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-start !important;
  min-width: 150px !important;
}

span,
li,
input,
p,
h3,
h4,
h6,
th,
td,
button,
div,
a {
  font-family: "Noto Serif JP", serif !important;
}
