$appBase: #e1f0ea;
$appBaseButtonHover: #718990;
$appBaseButton: #1d738c;
$appBaseInputRequire: #ce531d;
$textColoring: #ff9632;

$white: #ffffff;
$gray: #bfc0c0;
$dark: #585959;
$light: #d3deea;
$red: #db2323;
$black: #000;
$purple: #7284ccfe;
$purpleBorder: #6275c6fe;
